#all{
    overflow:hidden;
    width: 287px;
    height:405px;
    margin-top:10%;
    margin-left:10%;
    
}
h2{
    margin-top:-78px;
    margin-left:10px;
    font-size:40px;
    color:rgb(128,128,133);
    margin-bottom:30px;
}
h1{
    color:white;
    margin:0%;
    padding:0%;
    




}
#m1{
    background-color: rgb(45,45,54);

}
#for0{
    width:143px;
}
.lif{
    margin-left:-5px;
}

button{
    border:1px solid rgb(57,59,68);
    font-size:20px;
    width:72px;
    height:70px;
    color:white;
    background-color:rgb(95,96,104) ;

}
input{
    text-align:right;
    padding-right:5%;
    width:92.4%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color:white;
    font-size:30px;
    height:12%;

}
.yellow{
    background-color:rgb(254,159,11);
}
.col{
    background-color: rgb(65,65,73);

}

